# Ignore virtual environment
env/

# Ignore files test ipynb
te.ipynb

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore VSCode settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore compiled files
*.so
*.pyd

# Ignore environment/config files
.env
*.env
